.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 22px 25px;
    font-size: 1.2rem;
    width: 100%;
}

.header__input-search {
    flex: 1;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 1rem;
    margin-right: 30px;
}

.header__li-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header__li {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.header__li:hover {
    color: #eab3e7;
    text-decoration: underline;
}
