.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.product-card p {
    margin: 10px 0;
}

.product-card img {
    max-width: 150px;
    height: 150px;
}
